:root {
  /* Colors */
  --color-main: hsl(5, 85%, 50%);
  --color-secondary: hsl(5, 80%, 43%);
  --color-territary: hsl(255, 80%, 45%);
  --txt-primary: hsl(220, 70%, 5%);
  --txt-secondary: hsl(0, 0%, 96%);

  /* Fonts */
  --header-font: "Orbitron";
  --para-font: Tahoma;
  --font-secondary: "Montserrat";

  /* Text Sizes */
  --txt-2xl: 3.45rem;
  --txt-xl: 3rem;
  --txt-l: 2.7rem;
  --txt-m: 2.35rem;
  --txt-s: 1.9rem;
  --txt-dbls: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html { font-size: 62.5%; }

body {
  font-family: var(--font-secondary), var(--header-font), var(--para-font);
  line-height: 1.63;
  text-align: center;
  background-color: var(--txt-secondary);
  color: var(--txt-primary);
}

#label-top {
  font-family: var(--para-font);
  font-size: var(--txt-dbls);
  font-weight: 500;
  background-color: var(--color-territary);
  color: var(--txt-secondary);
  padding: 0.7rem 2.1rem;
  width: 100%;
  box-shadow: -1px 2px 6px 1.5px hsl(0, 0%, 0%, 0.3);
  display: flex;
  align-self: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
} 

#label-top>div {
  width: 95%;
  padding-inline: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

#label-top>div>span {
  text-transform: uppercase;
  margin-right: 0.7rem;
}

#label-top>div>button {
  font-weight: 500;
  font-family: var(--font-secondary);
  font-weight: bold;
  padding: 0.9rem 1.7rem;
  background-color: var(--txt-secondary);
  color: var(--txt-primary);
  border: none;
  border-radius: 1rem;
  transition: background-color 0.25s ease-in-out;
}

#label-top>button { background-color: transparent; border: none; }
#label-top>button>img { height: 1.5rem; width: auto; opacity: 0.77; }


/* Header */
header {
  padding: 1rem 2.7rem;
  width: 100%;
  background-color: var(--txt-secondary);
  color: var(--txt-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 4.7rem;
  left: 0;
}

.logo-container {
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo-icon {
  max-height: 4.5rem;
}

#logo-txt {
  font-family: var(--header-font);
  font-size: var(--txt-l);
  font-weight: 900;
  margin-left: 0.4rem;
}

header>nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3%;
}

header>nav>ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 17px;
}

header>nav>ul>li>a {
  color: var(--txt-primary);
  text-decoration: none;
  font-family: var(--font-secondary);
  font-size: var(--txt-dbls);
  font-weight: bold;
  letter-spacing: -0.2px;
  padding: 0.7rem;
  position: relative;
}

header>nav>ul>li>a::after {
  content: "";
  background-color: red;
  width: 0%;
  height: 0.4rem;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 15px;
}

header >img {
  max-height: 2.4rem;
  width: auto;
}

header>img:first-of-type {
  margin-left: 7%;
}

header>button {
  background-color: var(--color-territary);
  color: var(--txt-secondary);
  padding: 0.8rem 1.7rem;
  border: none;
  border-radius: 1.2rem;
  font-family: var(--font-secondary);
  font-weight: 700;
  transition: background-color 0.27s ease-out;
}


main {
  padding: 2rem 4.7rem;
}

/* Hero */
.hero {
  margin-top: 4rem;
  padding-top: 1.5rem;
  max-height: 64vh;
  background-color: black;
  background-image: url('Media/fairytale-scene-coming-out-book.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border: 2px solid hsl(0, 95%, 33%);
}

.hero > div:nth-of-type(1) {
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
}


#hero-title {
  color: hsl(0, 90%, 43%);
  font-family: var(--header-font);
  font-weight: 900;
  font-size: var(--txt-2xl);
  margin-bottom: 1rem;
  position: relative;
  text-shadow: -1px 1px 7px hsl(0, 0%, 5%, 0.7);
}

#hero-subtitle {
  color: var(--txt-secondary);
  font-family: var(--para-font);
  font-weight: 500;
  font-size: var(--txt-s);
  margin-bottom: 1rem;
  position: relative;
  text-shadow: -1px 1px 5px hsl(0, 0%, 5%, 0.8);
}

.hero-banners {
  width: 100%;
  padding-inline: 2.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
  position: relative;
}

.hero-banners > div {
  transition: transform 0.28s ease-out;
}


.hero-banners > div:nth-of-type(1) {
  color: var(--txt-secondary);
  font-size: var(--txt-s);
  font-family: var(--para-font);
  height: 440px;
  width: 230px;
  padding-block: 2rem;
  margin-block: 2.5rem;
  background-image: url('Media/Joker.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.7rem;
  text-shadow: -1.35px 1.2px 0.7px red;
  box-shadow: 1.3px -1.5px 7px 3px hsl(0, 0%, 0%, 0.27);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.hero-banners > div:nth-of-type(2) {
  color: var(--txt-secondary);
  font-size: var(--txt-s);
  font-family: var(--para-font);
  height: 440px;
  width: 230px;
  padding-block: 2rem;
  margin-block: 2.5rem;
  background-image: url('Media/download\ \(3\).jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.7rem;
  text-shadow: 1.4px 1.23px 0.7px hsl(280, 90%, 55%);
  box-shadow: 1.3px -1.5px 7px 3px hsl(0, 0%, 0%, 0.27);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.hero-banners > div:nth-of-type(3) {
  color: var(--txt-secondary);
  font-size: var(--txt-s);
  font-family: var(--para-font);
  height: 440px;
  width: 230px;
  padding-block: 2rem;
  margin-block: 2.5rem;
  background-image: url('Media/Hand\ of\ glory_.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.7rem;
  text-shadow: -1.35px 1.2px 0.7px hsl(290, 95%, 45%);
  box-shadow: 1.3px -1.5px 7px 3px hsl(0, 0%, 0%, 0.27);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.hero-banners > div:nth-of-type(4) {
  color: var(--txt-secondary);
  font-size: var(--txt-s);
  font-family: var(--para-font);
  height: 440px;
  width: 230px;
  padding-block: 2rem;
  margin-block: 2.5rem;
  background-image: url('Media/download\ \(2\).jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.7rem;
  text-shadow: 1.4px 1.23px 0.7px hsl(110, 90%, 40%);
  box-shadow: 1.3px -1.5px 7px 3px hsl(0, 0%, 0%, 0.27);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.hero>h3:last-of-type {
  color: var(--color-secondary);
  font-size: var(--txt-dbls);
  padding-inline: 13rem; 
  margin-block: 0.7rem 2rem;
}



/* Product Section */
.products-container {
  margin-top: 25%;
  padding-inline: 1rem;
  padding-top: 2.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

/* Aside Bar */
.products-container > aside {
  padding: 1rem 1rem 0 1rem;
  font-size: 1.65rem;
  font-family: var(--font-secondary);
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.products-container > aside > input:nth-of-type(1) {
  background-color: hsl(270, 17%, 95%);
  width: 28rem;
  padding: 0.5rem 0.23rem 0.4rem 1rem;
  border: 1.7px solid black;
  border-radius: 7px;
}

.products-container > aside > h4 {
  font-weight: 800;
  font-size: var(--txt-s);
  letter-spacing: 0.2px;
  margin-block: 2.5rem 1.3rem;
}

#product-list {
  list-style-type: none;
  font-size: var(--txt-dbls);
  font-weight: 600;
  font-size: -0.3px;
  color: hsl(0, 0%, 13%);
}

#product-list > li {
  width: 100%;
  padding: 0.2rem 0.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#product-list > li > span {
  background-color: hsl(255, 95%, 65%);
  padding: 0.4rem;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#product-list > li > span > img {
  height: 1.5rem;
  width: auto;
}

.products-container > aside > .subjects {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.products-container > aside > .subjects > input[type="checkbox"] {
  margin-right: 8px;
}

.products-container > aside > .subjects > label {
  font-size: var(--txt-dbls);
  font-weight: 600;
  color: hsl(0, 0%, 13%);
  display: inline-block;
  margin-bottom: 5px;
}

.products-container > aside > button {
  width: 100%;
  padding-block: 1.5rem;
  margin-block: 2rem;
  background-color: var(--color-territary);
  color: var(--txt-secondary);
  border: none;
  border-radius: 20px;
  box-shadow: -1px 1px 7px 1.5px hsl(0, 0%, 0%, 0.25);
  display: block;
  transition: all 0.27s ease-out;
}

.products-container > aside > button:nth-of-type(2) {
  margin-top: -0.5rem;
  background-color: hsl(0, 0%, 25%);
}


/* Product Items */
.product-items {
  padding: 3rem;
  margin-top: -4%;
  text-align: end;
}

.product-items > h2 {
  color: var(--color-secondary);
  font-family: var(--header-font);
  font-weight: 900;
  font-size: var(--txt-m);
}

.product-items > div:first-of-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 3.5%;
}

.product-items > div:first-of-type > p {
  font-size: var(--txt-dbls);
  font-weight: 700;
}

.product-items > div:first-of-type > select {
  background-color: hsl(270, 17%, 95%);
  padding: 1.1rem;
  border: 1.7px solid black;
  border-radius: 5px;
}


/* Items Grid */
.items-grid {
  color: var(--txt-primary);
  margin-top: 0.2rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.items-grid > div {
  margin-block: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.items-grid > div > h3 {
  font-size: var(--txt-m);
  text-align: center;
}

.items-grid > div > p {
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: -0.2px;
  text-align: center;
}

.items-grid > div > img {
  border: 2px solid var(--color-secondary);
  height: 22rem;
}

.items-grid > div > button {
  font-family: var(--font-secondary);
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.8rem 1.7rem;
  margin-top: 0.7rem;
  background-color: var(--color-territary);
  color: var(--txt-secondary);
  border: none;
  border-radius: 15px;
  transition: background-color 0.27s ease-out;
}


/* Bottom Hero */
footer {
  width: 100%;
  text-align: center;
}

.bottom-hero {
  width: 100%;
  height: 44rem;
  margin: auto;
  padding: 5.5rem;
  box-shadow: -1.5px 2px 11px 3px hsl(0, 0%, 0%, 0.3);
  background-image: url("Media/pexels-velroy-4241558.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--txt-secondary);
  position: relative;
  text-align: left;
}

.bottom-hero > div:first-of-type {
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.35;
  position: absolute;
  top: 0;
  left: 0;
}

.bottom-hero > h1, .bottom-hero > h3, .bottom-hero > button {
  position: relative;
  z-index: 1;
}

.bottom-hero > h1 {
  font-family: var(--header-font);
  font-size: var(--txt-m);
  letter-spacing: -0.4px;
  color: var(--color-secondary);
  text-shadow: -1px 1px 8px hsl(0, 0%, 0%, 0.7);
}

.bottom-hero > h3 {
  font-family: var(--font-secondary);
  font-size: var(--txt-dbls);
  letter-spacing: -0.2px;
  margin-block: 2.2% 5.5%;
  color: var(--txt-secondary);
  text-shadow: -1px 1px 6px hsl(0, 0%, 0%, 0.6);
}

.bottom-hero > button {
  background-color: var(--color-secondary);
  color: var(--txt-secondary);
  border: none;
  border-radius: 100px;
  padding: 1.6rem 3.3rem;
  font-family: var(--para-font);
  font-weight: 700;
  font-size: 1.3rem;
  letter-spacing: 0.2px;
}




/* Footer Bottom */
.footer-bottom {
  background-color: hsl(5, 73%, 37%);
  border-top: 2px solid hsl(0, 0%, 10%);
  color: var(--txt-secondary);
  width: 100%;
  padding: 7rem 3rem 1.5rem 3rem;
  display: flex;
  flex-flow: column wrap-reverse;
  align-items: center;
  justify-content: space-between;
}

.footer-bottom-top {
  width: 100%;
  padding-inline: 7rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}


/* Contacts */
.contacts {
  padding: 0.5rem;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1rem;
}

.contacts > h2 {
  font-family: var(--header-font);
  font-weight: 900;
  font-size: var(--txt-m);
}

.contacts > p {
  font-family: var(--para-font);
  font-size: var(--txt-s);
}

.contacts > p:first-of-type {
  color: hsl(0, 0%, 90%);
  font-style: italic;
  margin-top: 1rem;
}

.contacts > p:last-of-type {
  font-weight: 500;
}

.contacts> .social-icons {
  margin-block: 1.5rem 0.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.contacts> .social-icons> img {
  max-height: 2.5rem;
  width: auto;
}

.contacts> button {
  width: 100%;
  padding-block: 1.3rem;
  background-color: transparent;
  color: var(--txt-secondary);
  border: 2px solid var(--txt-secondary);
  border-radius: 100px;
  font-size: var(--txt-dbls);
  font-weight: 700;
  transition: all 0.28s ease-out;
}


/* Footer Navigation */
.footer-navigation {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.33rem;
}

.footer-navigation> h4 {
  text-transform: uppercase;
  font-family: var(--font-secondary);
  font-size: var(--txt-s);
  font-weight: 700;
}

.footer-navigation> h4:last-of-type {
  margin-top: 2.5rem;
}

.footer-navigation> hr {
  width: 100%;
  height: 2.5px;
}

.footer-navigation> ul {
  margin-top: 1rem;
  list-style-type: none;
  display: flex;
  gap: 0.7rem;
  flex-flow: column wrap; 
  align-items: flex-start;
  justify-content: space-between;
}

.footer-navigation> ul> li {
  font-family: var(--para-font);
  font-weight: bold;
  font-size: var(--txt-dbls);
  color: hsl(0, 0%, 90%);
}


/* Footer Buttons */
.footer-buttons {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2.7rem;
}

.footer-buttons> button {
  padding: 1.3rem 3rem;
  border: 2.3px solid var(--txt-secondary);
  border-radius: 100px;
  font-weight: 700;
  font-family: var(--font-secondary);
  transition: background-color 0.27s ease-in-out;
}


/* Footer Bottom Bottom */
.footer-bottom-bottom {
  margin-top: 6%;
  font-size: 1.1rem;
}

.footer-bottom-bottom> p> a {
  text-decoration: none;
  margin-right: 0.2rem;
  transition: all 0.24s ease-out;
}

.footer-bottom-bottom> p> span {
  font-style: italic;
}




/* Transition & Animation*/

/* BUTTONS */
#label-top> div:first-of-type> button:hover, .footer-buttons> button:hover {
  background-color: hsl(0, 0%, 88%);
}

header>button:hover, .items-grid > div > button:hover, .products-container > aside > button:first-of-type:hover {
  background-color: hsl(255, 83%, 35%);
}

.products-container > aside > button:last-of-type:hover {
  background-color: var(--txt-primary);
}

.contacts> button:hover {
  background-color: var(--txt-primary);
}

/* Link & Navigation */
.footer-bottom-bottom> p> a:hover {
  text-decoration: underline;
}

header>nav>ul>li>a:hover::after {
  content: "";
  width: 0%;
  height: 0.38rem;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 15px;
  animation: navUnderline 0.4s forwards ease-out;
}

@keyframes navUnderline {
  0% {
    width: 0%;
    background-color: black;
  }

  100% {
    width: 100%;
    background-color: var(--color-secondary);
  }
}


/* OTHERS */
.hero-banners > div:hover {
  transform: scale(1.05);
}